/*
*Tabella contente caselle
*/
#mainTable
{
	color: black;
	height:400px;
	width:400px;
	vertical-align: middle;
}

/*
*Div rappresentati le caselle del gioco
*/
.celleTabella
{
    cursor: pointer;
    width:70px;
    height:70px;
    font-size: 30pt;
    background: 
		linear-gradient(63deg, #999 23%, transparent 23%) 7px 0, 
		linear-gradient(63deg, transparent 74%, #999 78%), 
		linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%), 
		#444;
	background-size: 16px 48px;
	display: inline-block;
	padding: 5px 10px 6px;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	border-radius: 5px;
	box-shadow: 0 1px 3px #999;
	border-bottom: 1px solid #222;
	position: relative;
	vertical-align: middle;
	color: #222;
	text-shadow: 0px 2px 3px #555;
	font: 70px Tahoma, Helvetica, Arial, Sans-Serif;
	text-align: center;
}

body 
{
	background:
		radial-gradient(black 15%, transparent 16%) 0 0,
		radial-gradient(black 15%, transparent 16%) 8px 8px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
}

#Titolo
{
	color: #222;
	text-shadow: 0px 2px 3px #555;
	font: 70px Tahoma, Helvetica, Arial, Sans-Serif;
	text-align: center;
	width:600px;
	border-radius:10px;
}

/*
*Tabella contenente timer e contatore di mosse
*/
.bottomTable
{
	color: #222;
	text-shadow: 0px 2px 3px #555;
	font: 20px Tahoma, Helvetica, Arial, Sans-Serif;
	text-align: center;
	width:550px;
	border-radius:10px;
}

/*
* Background che permette una migliore visibilità rispetto allo sfondo
*/
.background, ul, p
{
	background:#474747;
	width:600px;
	border-radius:20px;
}

.topButton, .middleButton, .bottomButton
{
	padding: 14px 26px;
	font-size: 14px;
	line-height: 100%;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	color: #fff;
	background-color: #222;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	border-radius: 40px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

/*
* Quando ogni bottone viene premuto
*/
button:active
{
	box-shadow: 0px 2px 0px #84261a;
    position:relative;
    top:7px;
}