#mainTable
{
	color: black;
	height:350px;
	width:300px;
}

.celleTabella {
    cursor: pointer;
    width:70px;
    height:70px;
    text-align: center;
    line-height: 70px;
    float:left;
    background-color:lightgrey;
    font-size: 34px;
    font-weight: bold;
    border: 1px solid #FFF;
}
